* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #eeeeee;
}

.shadow {
    box-shadow: 0px 2px 5px 2px darkgrey;
}

h1 {
    margin: 20px 250px;
    padding: 10px 100px;
    background-color:#eeeeee; 
    font-family: sans-serif;
    text-align: center;
}

.navbar {
    margin-right: 1200px;
    margin-left: 5px;
    padding-left: 50px;
    width: 150px;
    height: 50px;
    color: #eeeeee;
    font-family:sans-serif;
    padding-top: 20px;
}

#content {
    margin-left: 225px;
    margin-right: 200px;
    margin-top: -60px;
    font-family: sans-serif;
}

